.pre_footer{
        margin-top: 20px;
        text-align: center;
        padding: 20px;
    
        span{
            font-size: 26px;
            text-transform: uppercase;
            font-weight: 600;
            a{
                color: #2879fe;
            }
        }
    
        h4{
            font-size: 20px;
            text-transform: uppercase;
        }
    }
